<div class="modal-close pull-right">
    <span class="glyphicon glyphicon-remove-circle" ng-click="cancel()" aria-hidden="true"></span>
</div>
<div id="experience-modal">
    <div class="experience-modal-header">
        <div class="company-logo">
            <img class="bbTransact-company-logo" src="images/BbTransact.jpg">
        </div>
        <div class="company-header">
            <h3>Blackboard Transact</h3>
            <h5>August 2015 - May 2016</h5>
        </div>
    </div>
    <div class="modal-separator"></div>
    <div class="project-role">
        <h5 class="project-name">Project: <b>International Cloud Platform</b></h5>
        <h5 class="project-position">Role: <b>Software Developer</b></h5>
    </div>
    <div class="experience-modal-body">
        <h5 class="description-heading">Description: </h5>
        <p class="description">
            International Cloud Platform is a cloud based product to universities and schools
            across the globe where students with a single campus ID - card or mobile based web-application
            give their students access to everything from vending machines to financial aid to a safe
            trip across campus. And students seamless and cashless transactions which mean a greater
            efficiencies and reduced operational costs. This is a Angular based portal for students to
            maintain their transactions made on their cards. This application is also localized based on
            the browsers accept-language, language stored in the database or the user-preferred language.
        </p>
        <h5>Responsibilities:</h5>
        <ul>
            <li>
                Involved in design, development and implementation of <b>Angular based web application</b> by using web technologies such as <b>HTML5</b>, <b>SASS</b>, <b>AngularJS</b>, <b>NodeJS</b>, <b>ExpressJS</b> <b>GruntJS</b>, <b>NPM</b>, <b>bower</b>.
            </li>
            <li>
                Used <b>Yeoman</b> generator to scaffold the single page <b>Angular</b> based web application.
            </li>
            <li>
                Worked on <b>Ultra UI</b> standard as per the company standards. Designed responsive web pages as per the company's standard..
            </li>
            <li>
                Utilizing various <b>JavaScript</b> and <b>AngularJS</b> frameworks for form validation and other interactive features such as <b>Localization</b> and <b>Internalization</b> of the web app, <b>creative animations</b> for the aside drawer, using <b>Ultra Ul design</b> and codes to be compliant with industry standards.
            </li>
            <li>
                Implemented project using <b>Agile SCRUM methodology</b>. Involved in daily stand up meetings, sprint showcase and sprint retrospective.
            </li>
            <li>
                Used detailed <b>wireframes</b> and developed Mock-up designs as per the requirements of Business.
            </li>
            <li>
                Used <b>NodeJS</b> and <b>ExpressJS</b> for running the application and <b>Jenkins</b> to build the application and hosted on to <b>NGINX</b> server.
            </li>
            <li>
                Performed database operations and queries using <b>MySQL Workbench</b>.
            </li>
            <li>
                Implemented Unit Tests using <b>Karma</b> and <b>Jasmine</b> and End-to-End Testing using <b>Protractor</b>.
            </li>
            <li>
                Used <b>Chrome Developer Tool</b>, <b>Firebug</b>, and <b>IE Developer Toolbar</b> for debugging and browser compatibility
            </li>
            <li>
                Conducted <b>code reviews</b> against coding standards using <b>UpSource tool</b> and made sure the best practices are maintained in development process.
            </li>
            <li>
                Used various <b>Web accessibility testing tools</b> like <b>SortSite</b>, <b>JAWS</b>, <b>NVDA</b> and <b>W15yQuick</b> check for performing accessibility testing.
            </li>
            <li>
                Used other tools like <b>Sonarqube</b> (a dashboard to analyze and measure code quality) and <b>Youtrack</b> (issues tracking and agile project management tool) in the day-to-day development process.
            </li>
        </ul>
        <span><b>Technologies Used:</b> HTML5, SASS, AngularJS, Javascript, NodeJS, ExpressJS, NPM, Bower, Grunt, Karma-Jasmine, Spring-MVC, Git, MySQL, Postman Client, Jenkins, Youtrack, Sonarqube, Web Accessibility Tools</span>
    </div>
</div>