<div class="modal-close pull-right">
    <span class="glyphicon glyphicon-remove-circle" ng-click="cancel()" aria-hidden="true"></span>
</div>
<div id="experience-modal">
    <div class="experience-modal-header">
        <div class="company-logo">
            <img class="edla-company-logo" src="images/EdlaInfotech.jpg">
        </div>
        <div class="company-header">
            <h3>Edla Infotech Ltd.</h3>
            <h5>December 2013 - July 2014</h5>
        </div>
    </div>
    <div class="modal-separator"></div>
    <div class="project-role">
        <h5 class="project-name">Project: <b>Complaints Tracking System</b></h5>
        <h5 class="project-position">Role: <b>Software Engineer</b> (Intern)</h5>
    </div>
    <div class="experience-modal-body">
        <h5 class="description-heading">Description: </h5>
        <p class="description">
            This is an application designed to lodge complaints over their intranet.
            Any employee working in any department can lodge complaint regarding their machinery,
            software, hardware, network, and also general complaints like insufficient stationary.
            This enables all the department heads to keep an eye on the complaints that are lodged
            by their employees. Whenever a complaint is opened by the vendor or stores department
            the open time and dated are stored in the database, thereby by enabling the system to
            calculate the turnaround time of the solution and can close when resolved.
        </p>
        <h5>Responsibilities:</h5>
        <ul>
            <li>
                Responsible for Design and development of Web pages using <b>HTML</b>, <b>JavaScript</b>, <b>CSS</b> including <b>Ajax</b> controls, <b>JSON</b> and <b>XML</b>.
            </li>
            <li>
                Coordinated with BA group for better understanding of functional requirements analyzed and designed the business requirements to be documented and implemented.
            </li>
            <li>
                Performed Client-side validations using <b>JavaScript</b> and fixed bugs and provided support services for the application.
            </li>
            <li>
                Finding out the bugs, broken links and missing images etc. and rectifying them.
            </li>
            <li>
                Tested/Debugged web browser using <b>Firebug</b> and <b>Chrome Developer Tools</b>.
            </li>
            <li>
                Managed and implemented all codes changes via <b>SVN</b>. Deploying builds across development, staging and production instances and maintained code integrity.
            </li>
            <li>
                Created an inline-edit and widget-collapse feature for the web page.
            </li>
        </ul>
        <span><b>Technologies Used:</b> JavaScript, HTML, CSS, JSP, AJAX, Apache, Windows, MySQL</span>
    </div>
</div>