<div class="modal-close pull-right">
    <span class="glyphicon glyphicon-remove-circle" ng-click="cancel()" aria-hidden="true"></span>
</div>
<div id="experience-modal">
    <div class="experience-modal-header">
        <div class="company-logo">
            <img class="egen-company-logo" src="images/Egen.jpg">
        </div>
        <div class="company-header">
            <h3 class="egen">Egen Solutions Inc.</h3>
            <h5>August 2015 - October 2015</h5>
        </div>
    </div>
    <div class="modal-separator"></div>
    <div class="project-role">
        <h5 class="project-name">Project: <b>Customer Portfolios Marketing Workbench</b></h5>
        <h5 class="project-position">Role: <b>Web Developer</b></h5>
    </div>
    <div class="experience-modal-body">
        <h5 class="description-heading">Description: </h5>
        <p class="description">
            The Customer Portfolios Marketing Workbench (Workbench) is a web application helping
            marketers plan, develop, and execute multi-channel closed-loop marketing programs. The goal of the
            Workbench project was to allow marketers to create standard reusable list queries against customer data
            stored in the CP Data Marts without writing SQL queries. The functionality is intended to be used by
            thousands of non-technical customers concurrently.
        </p>
        <h5>Responsibilities:</h5>
        <ul>
            <li>
                Implementation of User Interface using <b>HTML5</b>, <b>SASS</b>, <b>AngularJS</b> with <b>Ionic Framework</b> and used <b>Gulp</b> as a task runner with <b>Jasmine</b> as a framework for Unit Test cases.
            </li>
            <li>
                Implemented project using <b>Agile SCRUM methodology</b>. Involved in daily stand up meetings, sprint showcase and sprint retrospective.
            </li>
            <li>
                Worked on performance issues of the application using <b>CSS Sprites</b>, <b>Minification</b> and <b>Concatenation</b> of files
            </li>
            <li>
                Worked on Customized <b>Directives</b>, <b>Controllers</b>, Implementation of <b>Routing</b> and <b>Pagination</b> using features of <b>Angular libraries</b>
            </li>
            <li>
                Backend was supported by <b>Java Spring MVC</b> and <b>Elastic search</b> and also have contributions in developing <b>APIs</b> in Spring MVC
            </li>
            <li>
                Designed and implemented <b>MVC architecture</b> using <b>Spring Framework</b> and functionality to fetch data from the database.
            </li>
            <li>
                Involved in writing application level code to interact with <b>REST APIs</b>, Web Services using <b>AJAX</b>, <b>JSON</b> and <b>XML</b>
            </li>
            <li>
                Experience in making <b>Responsive web pages</b> using <b>Twitter Bootstrap</b> and <b>media queries</b>.
            </li>
            <li>
                Implemented <b>Log4J</b> for Logging Errors, debugging and tracking.
            </li>
        </ul>
        <span><b>Technologies Used:</b>Java, Spring MVC Framework, HTML5, LESS, AngularJS, JavaScript, REST APIs, AJAX, JSON, XML, Gulp, Karma - Jasmine, Log4J, Apache Tomcat, Git</span>
    </div>
</div>