<div id="about" class="animation">
    <div class="whoami">
        <h1>Who Am I?</h1>
        <p>
            A Full Stack Web Developer seeking for a Full time opportunity having over 1.5+ years of IT experience and
            technical proficiency in designing and developing user interfaces and professional web applications, having
            professional experience on technologies like HTML5, CSS3, JavaScript, Typescript, AngularJS, jQuery,
            AJAX, Nodejs, ExpressJS, with W3C standards. Excellent professional experience in making responsive web application
            using CSS3 media queries and responsive frameworks like Twitter Bootstrap and Foundation etc.. Also having excellent
            technical knowledge in Java, C, Python, Spring MVC Framework, REST and SOAP Web Services and can also write SQL
            queries for Databases like Oracle, MySql and MongoDB. Good experience in developing Android applications and
            also have experience in all phases of SDLC with extensive experience in Agile methodologies.
            <br><br>
            I have always kept myself open to learning and always will. With my practical experience and long track record of
            success I am confident that I would be a great asset to your company. My long term career goal is to continue
            to learn and grow my skills and abilities, while utilizing my professional experience, academic knowledge and
            skills to benefit any employer I am working for. The foundation of my achievements till date lies in my ability
            to prioritize the tasks. I also have excellent communication, interpersonal and analytical skills.
        </p>
    </div>
    <div class="education">
        <h1>Educational Background</h1>
        <div class="row">
            <div class="col-md-7 university-heading">
                <h3 class="degree"><b>Masters in Computer Science</b></h3>
                <h4>Illinois Institute of Technology, Chicago, IL, USA</h4>
            </div>
            <div class="col-md-3 col-xs-8 grad-details">
                <h5>Graduation: <b>December 2016</b></h5>
                <h5>GPA: <b>3.33/4.00</b></h5>
            </div>
            <div class="university-logo-iit col-md-2 col-xs-4">
               <img src="images/IIT_Chicago.png" class="iitChicago" alt="IIT Chicago Logo">
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 university-heading">
                <h3 class="degree"><b>Bachelor of Engineering in Computer Science</b></h3>
                <h4>Visvesvaraya Technological University, Karnataka, India</h4>
            </div>
            <div class="col-md-3 col-xs-8 grad-details">
                <h5>Graduation: <b>July 2014</b></h5>
                <h5>GPA: <b>3.68/4.00</b></h5>
            </div>
            <div class="university-logo-vtu col-md-2 col-xs-4">
                <img src="images/VTU.jpg" class="vtu" alt="VTU Belgaum Logo">
            </div>
        </div>
    </div>
</div>