<div ng-controller="ProjectsController" id="projects" class="animation">
    <div class="professional-experience">
        <h1>Professional Experience</h1>
        <div class="row">
            <div class="col-md-6">
                <img src="images/BbTransact.jpg" class="bbTransact" alt="Blackboard Transact Logo">
                <h4 class="company-name">Blackboard Transact</h4>
                <h5>August 2015 - May 2016</h5>
                <p class="work-description">International Cloud Platform is a cloud based product
                    to universities and schools across the globe where students with a single
                    campus ID—card or mobile based web-application give their students access to
                    everything from vending machines to financial aid to a safe trip across campus.
                    And students seamless and cashless transactions which mean ... </p>
                <button type="button" class="btn btn-primary" ng-click="openBbTransactModal()">Read More...</button>
            </div>
            <div class="col-md-6">
                <img src="images/EdlaInfotech.jpg" class="edla" alt="Edla Infotech Ltd. Logo">
                <h4 class="company-name">Edla Infotech Ltd.</h4>
                <h5>December 2013 - July 2014</h5>
                <p class="work-description">
                    This is an application designed to lodge complaints over their intranet.
                    Any employee working in any department can lodge complaint regarding their machinery,
                    software, hardware, network, and also general complaints like insufficient stationary.
                    This enables all the department heads to keep an eye on the complaints that are lodged
                    by their employees ... </p>
                <button type="button" class="btn btn-primary" ng-click="openEdlaModal()">Read More...</button>
            </div>
        </div>
    </div>
    <div class="academic-projects">
        <h1>Academic Projects</h1>
        <div>
            <h4>Web Application for a Restaurant Reservation System</h4>
            <p>Developed interactive single page web application to make a reservation at a restaurant.
                Implemented login authentication for both customer and owner. Support to modify or
                cancel the existing reservation made.</p>
            <p>
                <b>Technologies Used:</b>
                HTML5, CSS, SASS, Javascript, AngularJS, NodeJS, Java, MongoDB, Apache Tomcat
            </p>
        </div>
        <div>
            <h4>Angular Application on Chicago Coffee Services</h4>
            <p>Chicago Coffee Service is a full fledged AngularJS application to serve the customers with
                online order and other functionalities. List of customers and their purchases are returned.
                This project completely demonstrates all the fundamental and advanced features of AngularJS.
                Backend support is provided using Node.js and Express. JSON is used for frontend backend integration.
            <p>
                <b>Technologies Used:</b>
                HTML5, CSS3, JavaScript, AngularJS, Node.js, Express.js, GruntJS, Karma and Jasmine, NPM and Bower Package Managers.
            </p>
            <p>
                <b>AngularJS Concepts used:</b>
                Ui-Routing, AngularJS D3 Charts, Created Custom directives, factories, services.
            </p>
        </div>
        <div>
            <h4>Airline Reservation System – Web App</h4>
            <p>Designed and Developed an enterprise level Web application for airline reservations which
                shows available flights across different airlines on a single web platform. The application
                was developed using Java Server Pages and Servlets along with HTML, CSS and JavaScript.</p>
            <p>
                <b>Technologies Used:</b>
                HTML, CSS, AJAX, Javascript, Java Server Pages and Servlets, MongoDB, Apache Tomcat
            </p>
        </div>
        <div>
            <h4>SplitPay – Android App</h4>
            <p>Developed an android application and named it as SplitPay which is used by people who tend
                to share money with their friends when they go out. It keeps track of money that is spent
                by the user and also has the feature for payment owed by other users using their credit
                card or the debit card. SMS notifications would be generated to the users at certain
                areas in the application.</p>
        </div>
        <div>
            <h4>Megatron 3000 Database Management System</h4>
            <p>This is a lighter version of commercially available Relational Database Management
                Systems in today's market which was implemented as three modules. The entire project
                was implemented in C Programming Language.</p>
            <ul>
                <li>
                    <b>Storage Manager</b> - This is capable of reading blocks from a file on disk into
                    memory and writing blocks from memory to a file on disk.
                </li>
                <li>
                    <b>Buffer Manager</b> – This manages a fixed number of pages in memory that represent
                    pages from a page file managed by the storage manager using the replacement
                    strategies like FIFO, LRU and LFU to fetch blocks from the Hard Disc in
                    case the Buffer is full.
                </li>
                <li>
                    <b>Record Manager</b> - This handles tables with a fixed schema. Clients can insert records,
                    delete records, update records, and scan through the records in a table. This
                    module make use of buffer manager and storage manager.
                </li>
            </ul>
        </div>
        <div>
            <h4>Gas Pump System</h4>
            <p>Designed and Implemented 3 Gas Pump machines in Java Programming Language which
                were collaborated to form a single system using MDA-EFSM Architecture.
                This architecture also comprised of Strategy Pattern, State Pattern and Abstract Factory
                Pattern for implementation making the application robust and more efficient.</p>
        </div>
        <div>
            <h4>Link – State Routing Protocol</h4>
            <p>Developed an application with graphical user interface in Java programming language
                for link – state routing protocol using Dijkstra’s Algorithm which simulates the
                process of generating routing tables for each router in a given network and also
                computes the optimal path with least cost between any two specific routers.</p>
            <p>
                <b>Technologies Used:</b>
                Java, Swings, Netbeans
            </p>
        </div>
        <div>
            <h4>Paper on Software Architecture and Product Line for Mobile Applications</h4>
            <p>Software Product Line architectures is a promising approach to help developers
                reduce the effort of mobile application development and configuration.
                Product lines are comprised of set of reusable components that can be composed
                into different software configurations for different device configurations.
                Discussed the approaches on the use of Software Product Lines in the field
                of Mobile Applications.</p>
        </div>
        <div>
            <h4>Paper on Case Study for Retailers</h4>
            <p>Retailers case study is an academic project as part of Software Modeling and Development with UML course.
                In this case study on Retailers we took different scenarios into consideration and structured the use
                cases, use-case diagram, use-case descriptions, activity diagram, class diagrams, sequence diagrams
                and design patterns for the same.</p>
        </div>
        <div>
            <h4>Software Testing Through Reverse Engineering</h4>
            <p>Developed a method through Reverse Engineering for the testing of the software’s
                implemented in C Language. This project was implemented in C# Programming Language
                and making use of windows forms for the front-end.</p>
        </div>
        <div>
            <h4>Maze Game using OpenGL</h4>
            <p>Implemented a custom built game in C programming Language using OpenGL Functions.
                The game was to find the path between the start and end in the allotted time.</p>
            <p>
                <b>Technologies Used:</b>
                C, OpenGL
            </p>
        </div>
    </div>
    <div class="other-projects">
        <h4>Can find my sample works on</h4>
        <div class="github">
            <a href="https://github.com/Hegde0209" target="_blank"><img src="images/github.png" alt="GitHub Logo"></a>
        </div>
        <div class="plunker">
            <a href="http://plnkr.co/users/Hegde0209" target="_blank"><img src="images/plunker.png" alt="Plunker Logo"></a>
        </div>
    </div>
</div>
<script type="text/ng-template" id="bbTransact.template.html">
    <div ng-include="'bbTransact.template.html'"></div>
</script>
<script type="text/ng-template" id="egen.template.html">
    <div ng-include="'egen.template.html'"></div>
</script>
<script type="text/ng-template" id="edla.template.html">
    <div ng-include="'edla.template.html'"></div>
</script>