<div id="skills" class="fade-in one">
    <div class="web-technologies">
        <h2>Web Technologies</h2>
        <img src="images/skills/angular.png" title="AngularJS" alt="AngularJS Logo">
        <img src="images/skills/html5.png" title="HTML5" alt="HTML5 Logo">
        <img src="images/skills/css3.png" title="CSS3" alt="CSS3 Logo">
        <img src="images/skills/pre-processors.png" title="SASS and LESS" alt="CSS3 Pre-Processors Logo">
        <img src="images/skills/bootstrap.png" title="Bootstrap" alt="Bootstrap Logo">
        <img src="images/skills/javascript.png" title="Javascript" alt="Javascript Logo">
        <img src="images/skills/jquery.png" title="jQuery" alt="jQuery Logo">
        <img src="images/skills/xml.png" title="XML" alt="XML Logo">
        <img src="images/skills/ajax.png" title="AJAX" alt="AJAX Logo">
        <img src="images/skills/json.gif" title="JSON" alt="JSON Logo">
        <img src="images/skills/expressjs.png" title="ExpressJS" alt="ExpressJS Logo">
        <img src="images/skills/nodejs.png" title="NodeJS" alt="NodeJS Logo">
        <img src="images/skills/bower.png" title="Bower" alt="Bower Logo">
        <img src="images/skills/npm.png" title="NPM" alt="NPM Logo">
        <img src="images/skills/yeoman.png" title="Yeoman" alt="Yeoman Logo">
        <img src="images/skills/jsp.png" title="JSP" alt="JSP Logo">
        <img src="images/skills/servlets.png" title="Servlets" alt="Servlets Logo">
    </div>
    <div class="programming">
        <h2>Programming Languages</h2>
        <img src="images/skills/java.png" title="Java" alt="Java Logo">
        <img src="images/skills/c-language.png" title="C-Language" alt="C-Language Logo">
        <img src="images/skills/python.png" title="Python" alt="Python Logo">
        <img src="images/skills/android.png" title="Android Programming" alt="Android Logo">
    </div>
    <div class="frameworks">
        <h2>Java Frameworks</h2>
        <img src="images/skills/spring.png" title="Spring-MVC" alt="Spring-MVC Logo">
    </div>
    <div class="database">
        <h2>Databases</h2>
        <img src="images/skills/mysql.png" title="MySQL" alt="MySQL Logo">
        <img src="images/skills/mongodb.png" title="MongoDB" alt="MongoDB Logo">
        <img src="images/skills/oracle.jpg" title="Oracle" alt="Oracle Logo">
    </div>
    <div class="development-tools">
        <h2>Development Tools</h2>
        <img src="images/skills/webstorm.png" title="Webstorm" alt="Webstorm Logo">
        <img src="images/skills/eclipse.png" title="Eclipse" alt="Eclipse Logo">
        <img src="images/skills/visualstudio.png" title="Visual Studio" alt="Visual Studio Logo">
        <img src="images/skills/netbeans.png" title="Netbeans" alt="Netbeans Logo">
        <img src="images/skills/androidstudio.png" title="Android Studio" alt="Android Studio Logo">
        <img src="images/skills/youtrack.svg" title="Youtrack" alt="Youtrack Logo">
        <img src="images/skills/upsource.png" title="UpSource" alt="UpSource Logo">
        <img src="images/skills/sonarqube.logo" title="Sonarqube" alt="Sonarqube Logo">
        <img src="images/skills/mysqlworkbench.png" title="MySQL Workbench" alt="MySQL Workbench Logo">
        <img src="images/skills/postman.png" title="Postman" alt="Postman Client Logo">
    </div>
    <div class="servers">
        <h2>Web or Application Servers</h2>
        <img src="images/skills/apache.jpg" title="Apache Tomcat" alt="Apache Tomcat Logo">
        <img src="images/skills/nginx.png" title="NGINX" alt="NGINX Logo">
        <img src="images/skills/websphere.png" title="WebSphere" alt="WebSphere Logo">
        <img src="images/skills/jboss.png" title="jBoss" alt="jBoss Logo">
        <img src="images/skills/weblogic.jpg" title="WebLogic" alt="WebLogic Logo">
    </div>
    <div>
        <h2>Version Control, Build and Log Tools</h2>
        <img src="images/skills/git.jpg" title="Git" alt="Git Logo">
        <img src="images/skills/gruntjs.png" title="GruntJS" alt="GruntJS Logo">
        <img src="images/skills/gulp.png" title="Gulp" alt="Gulp Logo">
        <img src="images/skills/jenkins.png" title="Jenkins" alt="Jenkins Logo">
        <img src="images/skills/gradle.png" title="Gradle" alt="Gradle Logo">
        <img src="images/skills/log4j.png" title="Log4J" alt="Log4J Logo">
    </div>
    <div class="test-tools">
        <h2>Debug and Testing Tools</h2>
        <img src="images/skills/firebug.png" title="Firebug" alt="Firebug Logo">
        <img src="images/skills/cdt.jpg" title="Chrome Developer Tool" alt="Chrome Developer Tools Logo">
        <img src="images/skills/junit.jpg" title="JUnit" alt="JUnit Logo">
        <img src="images/skills/karma_jasmine.jpg" title="Karma, Jasmine and Protractor" alt="Angular Testing Logo">
    </div>
    <div class="other-softwares">
        <h2>Other Softwares</h2>
        <img src="images/skills/msoffice.png" title="Microsoft Office" alt="Microsoft Office Logo">
        <img src="images/skills/msproject.gif" title="Microsoft Project Professional" alt="Microsoft Project Logo">
        <img src="images/skills/msvisio.png" title="Microsoft Visio" alt="Microsoft Visio Logo">
        <img src="images/skills/github.png" title="GitHub" alt="GitHub Logo">
        <img src="images/skills/dreamweaver.jpg" title="Dreamweaver" alt="Dreamweaver Logo">
        <img src="images/skills/photoshop.png" title="Adobe Photoshop" alt="Photoshop Logo">
        <img src="images/skills/sublimetext.png" title="Sublime Text Editor" alt="Sublime Text Logo">
        <img src="images/skills/atom.png" title="Atom Editor" alt="Atom Editor Logo">
    </div>
    <div class="operating-systems">
        <h2>Operating Systems</h2>
        <img src="images/skills/windows.png" title="Windows Operating System" alt="Windows OS Logo">
        <img class="linux-family" src="images/skills/linux.jpg" title="Linux Operating System" alt="Linux OS Family">
        <img src="images/skills/android.jpg" title="Android Operating System" alt="Android Logo">
    </div>
</div>